<div class="info_container">
  <div class="info_title">
    Hotel Information
  </div>
  <div class="info_down">
    <div class="info_box_big">
    <div class="info_box_icon">
      <i class="fa-solid fa-circle-info"></i>
    </div>
    <div class="info_box_title">
      Hotel Alert
      <div class="info_box_content">
        Some hotel features, including vitae, varius ipsum ultrices adipiscing senectus turpis non due to
        COVID-19.
      </div>
    </div>

  </div>
  <div class="info_box_middle">
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-solid fa-clock"></i>
      </div>
      <div class="info_box_title">
        Check-In
        <div class="info_box_content">
          04:00 PM
        </div>
      </div>

    </div>
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="info_box_title">
        Phone Number
        <div class="info_box_content">
          (415) 123-4567
        </div>
      </div>

    </div>
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-solid fa-ban-smoking"></i>
      </div>
      <div class="info_box_title">
        No Smoking
        <div class="info_box_content">
          100% Smoke Free
        </div>
      </div>

    </div>
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-regular fa-clock"></i>
      </div>
      <div class="info_box_title">
        Check-Out
        <div class="info_box_content">
          11:00 AM
        </div>
      </div>

    </div>
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-solid fa-fax"></i>
      </div>
      <div class="info_box_title">
        Fax Number
        <div class="info_box_content">
          (415) 234-5678
        </div>
      </div>

    </div>
    <div class="info_box">
      <div class="info_box_icon">
        <i class="fa-solid fa-dog"></i>
      </div>
      <div class="info_box_title">
        Pet Policy
        <div class="info_box_content">
          Pet Allowed: Yes
        </div>
      </div>

    </div>
  </div>

  </div>
  

</div>
